<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>New User</title>
</head>
<body>
    <div class="new-user">
        <h1>Create a new user</h1>
    </div>
    <div class="create-form">
        <form action="" method="post">
            <label for="username"> User name:</label>
            <input type="text" id="username" name="username" required />
            <label for="pwd"> Password:</label>
            <input type="password" id="pwd" name="pwd" required />
            <input type="submit" value="Create user" />
        </form>
    </div>
</body>
</html>
