
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <div class="new-post">
        <a href="newpost">Submit new post</a>
    </div>
    <div>
        <h1>Trending Posts</h1>
    </div>
</body>
</html>
