<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
    <div class="login">
        <h1>Login</h1>
    </div>
    <div class="login-container">
        <form action="userhome" method="post">
            <label for="username"> User name:</label>
            <input type="text" id="username" name="username" required />
            <label for="pwd"> Password:</label>
            <input type="password" id="pwd" name="pwd" required />
            <input type="submit" value="Login" />
        </form>
    </div>
</body>
</html>