<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>New post</title>
</head>
<body>
    <div class="new-post">
        <h1>Add new post</h1>
    </div>
    <div class="add-post">
        <form action="" method="post">
            <input type="text" id="Title" name="title" required />
            <input type="url" id="Url" name="url" required />
            <input type="submit" value="Add" />
        </form>
    </div>
</body>
</html>
