@using EntityFramework.Models.ViewModels

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Add Assignee</title>
</head>
<body>
    <div class="add-new-assignee">
        <h1>Add new assignee</h1>
    </div>
    <div class="add-form">
        <form action="" method="post">
            <label for="Name">Assignee name</label>
            <input type="text" id="Name" name="name" required />
            <label for="Email">Assignee email</label>
            <input type="email" id="Email" name="email" required />
            <input type="submit" value="Add assignee" />
        </form>
    </div>
</body>
</html>