
<div class="buttonBox">
    <a href="/only-available">Only available</a>
</div>

<div class="buttonBox">
    <a href="/cheapest-first">cheapest first</a>
</div>

<div class="buttonBox">
    <a href="/contains-nike">contains nike</a>
</div>

<div class="buttonBox">
    <a href="/average-stock">average stock</a>
</div>

<div class="buttonBox">
    <a href="/most-expensive">most expensive available</a>
</div>