
<div class="header-container">
    <div class="title-box">
        <a href="/webshop">My Shop</a>
    </div>
    <div class="more-filters-box">
        <a href="/more-filters">More filters >></a>
    </div>
</div>
