
<form action="search" method="POST" id="search">
    <div class="SearchBox">
        <label for="itemSearch">Search for: </label>
    </div>
    <div class="SearchBox">
        <input type="text" id="itemSearch" name="search" placeholder="...something like nike" />
    </div>
    <div class="SearchBox">
        <button type="submit">search </button>
    </div>
</form>