
<div class="buttonBox">
    <a href="/filter-by-type/clothesandshoes">Clothes and shoes</a>
</div>

<div class="buttonBox">
    <a href="/filter-by-type/electronics">Electronics</a>
</div>

<div class="buttonBox">
    <a href="/filter-by-type/beveragesandsnacks">Beverages and snacks</a>
</div>

<div class="buttonBox">
    <a href="/price-in-euro">Euro</a>
</div>

<div class="buttonBox">
    <a href="/price-in-original">Original currency</a>
</div>