@using RascalChatApp.Models.ViewModels
@model ChatViewModel

    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Rascal Chat App</title>
    </head>
    <body>
        <header>
            <h1>Rascal Chat App</h1>
        </header>
        <div class="content">
            @RenderBody()
        </div>
    </body>
    </html>
