<div class="topnav">
    <a href="/api/user/update">Update profile</a>
    @using (Html.BeginForm("Logout", "User", FormMethod.Post))
    {
        <input type="submit" value="Logout" />
    }
    </div>