<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <div class="users">
        <a href="createusers">Create a new user</a>
    </div>
    <div class="users">
        <a href="login">Login</a>
    </div>
</body>
</html>
