@using BankOfSimbaApp.Models.ViewModels
@model HTMLCeptionvIEWmODEL
@{
    var text = Model.Text;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SimbaBankApp</title>
</head>
<body>
    @Model.Text
</body>
</html>
