@using EntityFramework.Models.ViewModels
@model ListViewModel
@{
    var todos = Model.Todos;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Todos Table</title>
</head>
<body>
    <div class="todos">
        <div class="title">
            <h1>TODOS FOR TODAY:</h1>
        </div>
        <div class="add-new-todo">
            <a href="todo/add">Add new todo</a>
        </div>
        <div class="todo-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ACTION</th>
                        <th>DONE</th>
                        <th>URGENT</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var todo in todos)
                    {
                    <tr>
                        <td>@todo.Id</td>
                        <td>@todo.Title</td>
                        <td>@todo.IsUrgent</td>
                        <td>@todo.IsDone</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
