@using MentorScheduler.Models.ViewModels
@model MentorViewModel

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Mentor Infos</title>
    </head>
    <body>
        <h1> Mentor detail</h1>
        <p> Name:   @Model.ActualMentor.MentorName</p><br />
        <p> Class:  @Model.ActualMentor.Class.ClassName</p><br />
    </body>
    </html>
