<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FoxClubApplication</title>
</head>
<body>
    <div class="information">
        <a href="information">Information</a>
    </div>
    <div class="nutritionStore">
        <a href="nutritionStore">Nutrition Store</a>
    </div>
    <div class="foximage">
        <img src="greenfox.png" alt="greenfox" />
    </div>
    <div class="fox-intro">
        <p>This is <"name">. Currently living on <"food"> and <"drink">. He knows <"x"> tricks.</p>
    </div>
    <div class="known-tricks">
        <p>Known tricks</p>
        <ul id="tricks">
            <li><a href="">Trick1</a></li>
            <li><a href="">Trick2</a></li>
        </ul>
    </div>
</body>
</html>
