<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FoxClubApplication</title>
</head>
<body>
    <div class="information">
        <a href="information">Information</a>
    </div>
    <div class="nutritionStore">
        <a href="nutritionStore">Nutrition Store</a>
    </div>
    <div class="trickCenter">
        <a href="trickCenter">Trick Center</a>
    </div>
    <form action="/nutritionStore" method="post">
        <label for="food">Food</label>
        <select id="food" name="food">
            <option value="pizza">Pizza</option>
            <option value="cake">Cake</option>
            <option value="fruits">Fruits</option>
        </select>
        <label for="drink">Drink</label>
        <select id="drink" name="drink">
            <option value="coffee">Coffe</option>
            <option value="beer">Beer</option>
            <option value="lemonade">Lemonade</option>
        </select>
        <input type="submit">
    </form>
</body>
</html>