@using MyShop.Models.ViewModels
@model ItemViewModel
@{
    var shopItems = Model.ShopItems;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MyShop - More Filters</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="~/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header-container">
        @Html.Partial("_Header")
    </div>

    <div class="buttonContainer">
        @Html.Partial("_MoreButtons")
    </div>

    <div class="tableContainer">
        <div class="tableBox">
            @Html.Partial("_Table")
        </div>
    </div>
</body>
</html>