@using MyShop.Models.ViewModels
@model ItemViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MyShop</title>
    <link href="~/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header-container">
        @Html.Partial("_Header")
    </div>

    <div class="buttonContainer">
        @Html.Partial("_MoreButtons")
    </div>
    <div class="price-search-container">
        @Html.Partial("_PriceSearch")
    </div>

    <div class="tableContainer">
        <div class="tableBox">
            @Html.Partial("_Table")
        </div>
    </div>

</body>
