@using MyShop.Models.ViewModels
@model ItemViewModel
@{
    var value = Model.ItemName;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MyShop</title>
    <link href="~/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="header-container">
        @Html.Partial("_Header")
    </div>

    <div class="buttonContainer">
        @Html.Partial("_Buttons")
    </div>

    <div class="itemsearch-container">
        @Html.Partial("_ItemSearch")
    </div>

    <div class="singleValueContainer">
        <div class="valueBox">
            <p>Most expensive product in the shop:</p>
            @Model.ItemName
        </div>
    </div>
</body>
</html>

