@using UsefulUtilities.Models.ViewModels
@model ColoredViewModel
@{ 
    var color = Model.Color;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>UsefulUtilities</title>
</head>
<body style="background-color:@color;">
</body>
</html>
