<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>UsefulUtilities</title>
</head>
<body>
    <p> Choose one utility</p>
    <a href="useful/colored">Randomly changes the color of the page</a>
</body>
</html>
