@model MyApplication.Models.FizzBuzzCounter

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FizzBuzz Counter</title>
    <style>
        body {
                font-size: @Model.FontSize;
            }
    </style>
</head>
<body>
    <p> Hello! This site was loaded @Model.Word times since last server start.</p>
</body>
</html>
