@using RascalChatApp.Models.ViewModels
@model ChatViewModel

@{
    Layout = "_Layout";
}

<div class="navbar">
    @Html.Partial("_NavBar")
</div>

<p>Congratulations, @Model.User.ApiKey, you have logged in</p>
