@using RascalChatApp.Models.ViewModels
@model UserViewModel

@{
    Layout = "_Layout";
}

<div class="login">
    <h1>Wrong credentials, please try again.</h1>
</div>
@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
    <div class="input-container">
        @Html.Label("Username:")
        @Html.TextBox("login")
    </div>

    <div class="input-container">
        @Html.Label("Password:")
        @Html.Password("password")
    </div>
    <input type="submit" value="Register" />
}
<div class="to-login">
    <h2>Already a member?</h2>
    <a href="login">Login</a>
</div>