@using RascalChatApp.Models.ViewModels
@model UpdateViewModel

@{
    Layout = "_Layout";
}

<h3>You made the following profile changes:</h3>
<ul>
    <li>Username: @Model.UserUpdates.UserName</li>
    <li>Avatar: <img src="@Model.UserUpdates."</li>
</ul>